<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Responsive Landing Page Template With Flexbox</title>
    	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://kit.fontawesome.com/a6e87818b4.js"></script>
    </head>
    <body>
        
        <div class="headerContent">
            <h2>
                <a href="#">Mountain Travel</a>
            </h2>
            <nav>
                <a href="#">Tours</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
        </div>
        
        <div class="introSection">
            <div class="meBackgroundImage"></div>
            <div class="introText">
                <h1>Mountain Travel</h1>
                <h3>Unmissable Adventure Tours Around The World</h3>
                <a href="#">Contact Us Now</a>
            </div>
        </div>
        
        <div class="myDestinations">
            <h3>Some Of Our Popular Destinations</h3>
            <p>Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. 
            If the gas is present, the celery turns purple… <br>I eat the celery. If nothing else, 
            I'm sure it's good for my teeth.</p>
            
            <hr>
            
            <ul class="mountainImages">
                <li class="small img1"></li>
                <li class="large img2"></li>
                <li class="large img3"></li>
                <li class="small img4"></li>
            </ul>
        </div>
        
        <div class="myPackages">
            <h3>Tour Packages</h3>
            <p>Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. 
            If the gas is present, the celery turns purple… <br>I eat the celery. If nothing else, 
            I'm sure it's good for my teeth.</p>
            
            <hr>
            
            <ul>
                <li>
                    <i class="far fa-compass fa-3x"></i>
                    <h4>Guided Trips</h4>
                    <p>Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. 
                    If the gas is present, the celery turns purple… <br>I eat the celery. If nothing else, 
                    I'm sure it's good for my teeth.</p>
                </li>
                <li>
                    <i class="fas fa-camera-retro fa-3x"></i>
                    <h4>Photo Trips</h4>
                    <p>Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. 
                    If the gas is present, the celery turns purple… <br>I eat the celery. If nothing else, 
                    I'm sure it's good for my teeth.</p>
                </li>
                <li>
                    <i class="fas fa-bicycle fa-3x"></i>
                    <h4>Biking Trips</h4>
                    <p>Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. 
                    If the gas is present, the celery turns purple… <br>I eat the celery. If nothing else, 
                    I'm sure it's good for my teeth.</p>
                </li>
                <li>
                    <i class="fas fa-flag-checkered fa-3x"></i>
                    <h4>Racing Trips</h4>
                    <p>Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. 
                    If the gas is present, the celery turns purple… <br>I eat the celery. If nothing else, 
                    I'm sure it's good for my teeth.</p>
                </li>
            </ul>
        </div>
        
        <div class="testimonials">
            <h3>Testimonials From Our Adventurers</h3>
            <hr>
            <div class="testimonialHolder">
                <div class="oneTestimonial">
                    <p>"<i>Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. 
                    If the gas is present, the celery turns purple… <br>I eat the celery. If nothing else, 
                    I'm sure it's good for my teeth.</i>"</p>
                    <p class="name"><strong>- Abe -</strong></p>
                </div>
                <div class="oneTestimonial">
                    <p>"<i>Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. 
                    If the gas is present, the celery turns purple… <br>I eat the celery. If nothing else, 
                    I'm sure it's good for my teeth.</i>"</p>
                    <p class="name"><strong>- Abe -</strong></p>
                </div>
                <div class="oneTestimonial">
                    <p>"<i>Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. 
                    If the gas is present, the celery turns purple… <br>I eat the celery. If nothing else, 
                    I'm sure it's good for my teeth.</i>"</p>
                    <p class="name"><strong>- Abe -</strong></p>
                </div>
            </div>
        </div>
        
        <div class="footer">
            <h3>Want To Chat With Us?</h3>
            <hr>
            <form>
                <div class="details">
                    <input class="topInput" type="text" placeholder="Name">
                    <input type="text" placeholder="Email">
                </div>
                <div class="text">
                    <textarea placeholder="Message"></textarea>
                </div>
                <button>Send</button>
            </form>
        </div>
        
    </body>
</html>